# Supabase - pooler transaction-mode (utilise par l'app au quotidien)
DATABASE_URL="postgresql://postgres.xxxx:password@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase - connexion directe (utilisee par Prisma pour les migrations)
DIRECT_URL="postgresql://postgres.xxxx:password@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"

PORT=3001
NODE_ENV=development
